div.sup {
    text-align: center;
    height: 12vh;
}
div.inf {
    text-align: center;
    height: 88vh;
}

h1.header {
    color: white;
    margin: 0;
    text-align: center;
}

h4.nav {
    color: white;
    text-align: center;
}

.row {
    height: 0px;
}

ul li { 
    padding: 50px 0px 50px 0px;
}

a.home {
    margin: 10px 0px 0px 0px;
}